.centerline {
    text-align: center;
}
.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: tomato;
}
img {
    height: auto;
    width: 700px;
}
.recipie.images {
    height: auto;
    width: 350px;
}